<!DOCTYPE html>
<html>
<head lang="{{ app.request.locale }}">
	<meta charset="{{ _charset }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ macha_site_name|raw }}</title>

	<link href="{{ asset('images/logo.png') }}" rel="icon" type="image/png">

