{% if is_granted("ROLE_ADMIN") %}
<li>
    <a href="#"><i class="icon-list"></i> <span>Product Management</span></a>
    <ul>
        <li {% if app.request.getPathInfo|split('/category')|length > 1 %} class="active"{% endif %}>
            <a href="{{ path('categories_list') }}">Categories</a>
        </li>
        <li {% if app.request.getPathInfo|split('/product')|length > 1 %} class="active"{% endif %}>
            <a href="{{ path('products_list') }}">Products</a>
        </li>
    </ul>
</li>
{% endif %}