function (data, type, full, meta) {
    return '<div class="checkbox-toggle"> <input type="checkbox" id="check-toggle-'+full.t_id+'-'+{{ position }}+'"> <label for="check-toggle-'+full.t_id+'-'+{{ position }}+'"></label> </div>';
}